.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #c6e1ca;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox:checked ~ .checkmark {
  background: linear-gradient(91.41deg, #1dc255 0.39%, #29bb98 99.99%);
  border: 1px solid #1dc255;
}
